#contact {
  /* background-color: var(--gray-500); */
  background-image: url(../../assets/images/Background_Contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#contact header {
  h3 {
    font: var(--subtitle);
    color: var(--purple);
  }

  h2 {
    font: var(--title-md);
    color: var(--gray-100);
  }
  
  span {
    font: var(--text-md);
    color: var(--gray-200);
  }
}

#contact-links {
  a {
    background-color: var(--gray-400);
    font: var(--text-md);
    color: var(--gray-200);
  }
}