#projects {
  background-color: var(--gray-500);
}

#projects header {
  h3 {
    font: var(--subtitle);
    color: var(--red);
  }

  h2 {
    font: var(--title-md);
    color: var(--gray-100);
  }
}

#projects .grid .project-card {
  h4 {
    font: var(--title-sm);
    color: var(--gray-100);
  }

  p {
    font: var(--text-sm);
    color: var(--gray-200);
  }
}