#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 8rem 7.5rem 12.5rem;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  #contact-links {
    list-style-type: none;
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .social-button {
      
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        width: 100%;
        padding: 1.5rem;
        border-radius: 0.5rem;
        
        text-decoration: none;

        > span {
          display: flex;
          align-items: center;
          gap: 0.75rem;
        }
      }
    }
  }
}