#projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3.5rem;
  padding-top: 4.5rem;
  padding-bottom: 9rem;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
  }
}

.grid {
  width: 76%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

  gap: 1.5rem;

  img {
    width: 100%;
    max-width: 19rem;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
    display: block;
  }

  .project-card {
    background-color: var(--gray-400);
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    padding: 1rem;
    border-radius: 0.75rem;
  }
}