#services {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3.5rem;

  padding: 5.5rem 7.5rem 7.5rem;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 1.5rem;

    .service-card {
      display: flex;
      flex-direction: column;
      padding: 1.25rem;

      gap: 1.25rem;

      border: solid 1px var(--gray-500);
      border-radius: 0.75rem;

      img {
        width: 100%;
        height: 100%;
        max-width: 2rem;
        max-height: 2rem;
      }

      .service-card-text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}