:root {
  /* CORES PRINCIPAIS */
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  /* CORES BASES */
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  /* TIPOGRAFIA */
  /* ASAP */ 
  --title-lg: bold 56px/120% "Asap", sans-serif;
  --title-md: bold 24px/120% "Asap", sans-serif;
  --title-sm: bold 16px/120% "Asap", sans-serif;
  /* INCONSOLATA */
  --subtitle: normal 20px/120% "Inconsolata", monospace;
  /* MAVEN PRO */
  --text-md: normal 16px/140% "Maven Pro", sans-serif;
  --text-sm: normal 14px/140% "Maven Pro", sans-serif;
}
